---

---

<article
    class="flex flex-col items-center justify-center gap-8 text-[#9AA1AD] md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-[#94EB05] text-pretty order-2 md:order-1"
    >
        <p>
            I am a passionate web developer with a strong interest in learning
            new technologies. I'm suitable in both <strong>front-end</strong> and <strong>back-end</strong>
            development, making me a versatile developer for various web
            application projects.
        </p>

        <p>
            <strong>Client side:</strong> HTML, Javascript, CSS, React.js, Next.js,
            React-router-DOM, Tailwindcss, Bootstrap, Axios to fetching data
            from database.
        </p>

        <p>
            <strong>Server Side:</strong>Server Side: Building and managing RESTful APIs with Node.js,
            Express.js, Creation of database, Users Authentication, Making HTTP
            requests to API endpoints with ORMs (Object-Relational Mappers) as
            Prisma, Mongoose and Sequelize.
        </p>
    </div>
</article>
