<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1  transition border rounded-full text-white hover:text-slate-200 text-md bg-gray-900 border-gray-700 hover:border-gray-500 group max-w-fit active:bg-black"
>
  <slot />
</a>